<section class="wrapper py-20 flex">
    <div class="w-1/5">
        <ul class="flex flex-col gap-y-4 font-light">
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="#">Misión y Visión</a>
            </li>
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="#">Políticas de Calidad</a>
            </li>
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="#">Valores Corporativos</a>
            </li>
        </ul>
    </div>
    <div class="w-4/5 flex flex-col gap-y-8">
        <img
            src="/photos/mision-vision.webp"
            alt="mision vision image"
            loading="lazy"
        />
        <div>
            <h2 class="title mb-3">Misión</h2>
            <p>
                Somos una organización conformada por un grupo de profesionales
                de la salud certificados a nivel nacional e internacional en el
                área de neurocirugía y neurocirugía intervencionista, que presta
                servicios especializados en el área de hemodinamia a las
                diferentes instituciones prestadoras de salud de la costa y a
                los pacientes que llegan a nuestro consultorio, bajo los mas
                altos estándares de calidad, tecnología y sentido humano,
                garantizando a nuestros pacientes una atención clara, accesible,
                oportuna y de confianza.
            </p>
        </div>
        <div>
            <h2 class="title mb-3">Visión</h2>
            <p>
                Convertirnos en la opción número uno de las diferentes
                instituciones prestadoras de salud en el país en atención de
                neurocirugía y neurocirugía intervencionista al año 2026,
                ampliando nuestra cobertura nacional de manera eficaz y
                oportuna, respaldados por la trayectoria y eficiencia de
                nuestros especialistas.
            </p>
        </div>
    </div>
</section>
