---
import Breadcrump from "../components/Breadcrump.astro";
import CTA from "../components/CTA.astro";
import Testimonial from "../components/Testimonial.astro";
import University from "../components/University.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Unesi :: UNIDAD DE NEUROCIRUGIA ENDOVASCULAR STROKE E INTERVENCIONISMO S.A.S. "
>
    <main>
        <Breadcrump title="Nuestro Equipo" body="Inicio -  Nuestro Equipo" />
        <section class="flex md:gap-x-28 py-5 md:py-20 wrapper px-6 lg:px-0">
            <div class="w-0 md:w-1/2">
                <img
                    src="photos/doctor_jairo_ferandez-1.jpg"
                    alt=""
                    class="rounded-lg object-cover h-full"
                />
            </div>
            <div class="w-full md:w-1/2 py-10">
                <header class="mb-6">
                    <h4 class="description">Neurocirugano Endovascular</h4>
                    <h2 class="title">Dr. Jairo Martin Fernandez Henríquez</h2>
                </header>

                <p>
                    El Dr. Jairo Fernandez H. posee formación certificada por
                    entidades reconocidas nacional e internacionalmente en
                    Medicina, Cirugía general, Neurocirugía convencional y en la
                    supra especialidad de Neurointervencionismo, en esta última
                    con dedicación exclusiva.
                </p>
                <p>
                    Dirige la Unidad de Neurocirugía Endovascular, Stroke e
                    Intervencionismo (UNESI-Colombia), organización que cuenta
                    con un equipo de profesionales especializados en
                    neurointervencionismo. Como jefe de los servicios de
                    Neurocirugía endovascular en múltiples instituciones en
                    Colombia, ha realizado más de 7.000 tratamientos
                    endovasculares en 18 años de práctica, siendo pionero en el
                    uso de equipos, técnicas y dispositivos en la región.
                </p>
                <p>
                    Actualmente es presidente de la asociación colombiana de
                    neurocirugía capítulo atlántico, miembro fundador del grupo
                    colombiano de neurointervencionismo, perteneciente al comité
                    académico en la asociación colombiana de radiología en la
                    supra especialidad, y director científico de la red de
                    stroke del distrito de Barranquilla. De la mano de Dios con
                    respeto, amabilidad y humanismo, ha procurado que se
                    establezcan políticas dentro de las entidades oficiales,
                    privadas, académicas y administrativas, en pro del
                    neurointervencionismo en Colombia y el mundo, para beneficio
                    de los pacientes, el personal de salud, las instituciones y
                    la industria.
                </p>
            </div>
        </section>
        <University />
        <Testimonial />
        <CTA />
    </main>
</Layout>
