---
import Form from "../components/Form.astro";
import Doctor from "../components/Doctor.astro";
import Services from "../components/Services.astro";
import Testimonial from "../components/Testimonial.astro";
import University from "../components/University.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Slideshow from "../components/DinamicSlides/Slideshow";
---

<Layout
	title="Unesi :: UNIDAD DE NEUROCIRUGIA ENDOVASCULAR STROKE E INTERVENCIONISMO S.A.S. "
>
	<main>
		<Slideshow
			client:visible
			images={[
				"https://picsum.photos/id/237/2200/500",
				"https://picsum.photos/id/238/2200/500",
				"https://picsum.photos/id/239/2200/500",
			]}
			className="max-h-[500px]"
		/>
		<Welcome />
		<Services />
		<Doctor />
		<University />
		<Testimonial />
		<Form />
	</main>
</Layout>
