---
import Breadcrump from "../components/Breadcrump.astro";
import CTA from "../components/CTA.astro";
import MisionVision from "../components/Mision-Vision/MisionVision.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Unesi :: UNIDAD DE NEUROCIRUGIA ENDOVASCULAR STROKE E INTERVENCIONISMO S.A.S. "
>
    <main>
        <Breadcrump
            title="Misión y vision"
            body="Inicio - Quienes Somos - Misión y Visión"
        />
        <MisionVision />
        <CTA />
    </main>
</Layout>
