<section class="bg-[#03588C]">
    <div class="wrapper py-8 flex justify-between items-center">
        <div class="flex items-center gap-x-4">
            <img
                src="/svg/headphone.svg"
                alt="headphone icon"
                loading="lazy"
                class="bg-white rounded-full p-3"
            />
            <div class="text-white">
                <span class="font-light text-sm"
                    >Servicio de atención al cliente.</span
                >
                <h2 class="text-4xl font-semibold">¿ dudas ó inquietudes ?</h2>
            </div>
        </div>
        <a
            href="/contactanos"
            target="_blank"
            class="px-12 py-4 text-[#03588C] bg-white rounded-lg shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 self-center"
            >Escribenos</a
        >
    </div>
</section>
