<section class="bg-[#03588C] px-6 xl:px-0">
    <div
        class="wrapper py-8 px-6 lg:px-0 flex flex-col sm:flex-row justify-between items-center gap-y-4"
    >
        <div
            class="flex flex-col sm:flex-row justify-center items-center gap-x-4 gap-y-4"
        >
            <img
                src="/svg/headphone.svg"
                alt="headphone icon"
                loading="lazy"
                class="bg-white rounded-full p-3"
            />
            <div class="text-white text-center sm:text-left">
                <span class="font-light text-sm"
                    >Servicio de atención al cliente.</span
                >
                <h2 class="text-3xl sm:text-4xl font-semibold">
                    ¿ Dudas ó inquietudes ?
                </h2>
            </div>
        </div>
        <a
            href="/contactanos"
            target="_blank"
            class="px-12 py-4 text-[#03588C] bg-white rounded-lg shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 self-center"
            >Escribenos</a
        >
    </div>
</section>
