<section class="bg-slate-50 relative">
    <picture class="absolute w-0 md:w-1/2 h-full">
        <img
            src="/photos/doctor_jairo_ferandez-1.jpg"
            alt="Doctor Jairo Fernandez"
            class="object-cover object-right-top min-h-full rounded-r-2xl h-full w-full"
            loading="lazy"
        />
    </picture>
    <div class="w-full md:w-1/2 ml-auto px-12 py-16">
        <header class="mb-6">
            <h4 class="description">Neurocirugano Endovascular</h4>
            <h2 class="title">Dr. Jairo Martin Fernandez Henríquez</h2>
        </header>
        <p>
            Médico Cirujano por la Universidad Libre de Barranquilla y
            especialista en Neurocirugía con Título Otorgado de la Universidad
            de Buenos Aires (Homologación Colombiana de Título Extranjero ante
            el Ministerio de Educación Nacional).
        </p>

        <p>
            Complementó sus estudios con entrenamientos especiales y la
            subespecialidad en Neurocirugia Endovascular y Neurointervenvionismo
            en el Instituto E.N.E.R.I. Y SILAN en Bs As. Conferencista desde
            2005 en múltiples simposios nacionales e internacionales. Miembro
            activo de la Sociedad Colombiana de Neurocirugía, la Sociedad
            Colombiana de Radiología, del Comité Académico del Grupo Colombiano
            de Neurointervenvionismo, de SILAN, Presidente Capítulo Atlántico,
            Proctor Sip Internacional y Director científico de la Red Stroke del
            distrito de Barranquilla.
        </p>
    </div>
</section>
