---
import { CitaForm } from "./CitaForm";
---

<section>
    <div
        class="text-white grid place-items-center bg-[url('/background/citas.webp')] px-12 py-28 bg-cover bg-no-repeat bg-center"
    >
        <header class="text-center relative -top-10">
            <h4 class="text-lg italic font-light">ENVÍENOS UN MENSAJE Y</h4>
            <h2 class="text-3xl font-semibold">NOS PONDREMOS EN CONTACTO</h2>
        </header>
    </div>
    <CitaForm client:load />
</section>
