    <section class="py-2 bg-sky-700 text-white text-sm hidden md:block">
        <div class="container">
            <span>
                Edificio Continental Medical Center - Carrera 49C # 80 - 125, Consultorio 506. Barranquilla, Colombia
            </span>

        </div>
    </section>