<section class="wrapper section">
    <header class="mb-10">
        <h4 class="subtitle">Algunos testimonios</h4>
        <h2 class="title w-full sm:w-3/4">¿ Qué dicen de nosotros ?</h2>
    </header>
    <div class="w-4/5 sm:w-1/2 mx-auto">
        <p>
            Nunc at mattis eros. Sed tristique pellentesque ante, vel viverra
            felis venenatis nec. Mauris hendrerit efficitur orci non lobortis.
            Suspendisse non auctor augue. Morbi pellentesque velit non hendrerit
            varius. Proin ullamcorper, lorem vel viverra rutrum, felis enim
            fermentum lorem, ut vestibulum nunc risus quis nibh. Praesent
            imperdiet enim magna, sed laoreet ex iaculis sit amet.
        </p>
        <div class="flex justify-center items-center gap-x-3">
            <div class="flex flex-col">
                <h4 class="italic text-lg text-[#03588C]">Natalia Romanoft</h4>
                <span class="text-base text-slate-400">Panangeografia</span>
            </div>
            <img
                src="/avatar.png"
                alt=""
                class="w-16 h-16 rounded-full border-2 border-blue-600"
            />
        </div>
    </div>
</section>
