<section class="wrapper section">
    <div class="flex flex-col sm:flex-row gap-y-12 sm:gap-x-12">
        <article class="flex flex-col justify-center w-full sm:w-1/2">
            <header class="mb-6">
                <h4 class="description">Sobre nosotros</h4>
                <h2 class="title">
                    Bienvenidos a <span class="has-text-weight-bold"
                        >UNESI
                    </span>
                </h2>
            </header>

            <p>
                En nombre de todos los miembros le damos la bienvenida a nuestra
                página.
            </p>

            <p>
                Trabajamos todos los días del año para proveer la mejor atención
                y cuidado de su salud. Queremos brindarle la tranquilidad que
                usted necesita, por eso nuestro equipo de trabajadores altamente
                calificado, se mantiene a la vanguardia para poner a su
                disposición un excelente servicio en un ambiente seguro,
                confortable y con una atención humanizada al usuario.
            </p>

            <p>
                De nuevo muchas gracias y espero poder tener la oportunidad de
                atenderle.
            </p>

            <div
                class="mt-5 transition-all duration-300 ease-in-out translate-y-0 hover:-translate-y-1 self-start hover:shadow-blue-400/60"
            >
                <a
                    href="/quienes-somos"
                    class="border border-[#03588C] rounded px-7 py-3"
                >
                    Saber más
                </a>
            </div>
        </article>

        <figure class="w-full sm:w-1/2">
            <img
                src="/photos/doctor_jairo_ferandez-2.jpg"
                alt="Foto del doctor Jairo Fernandez Hernandez"
                class="shadow-lg rounded-md"
            />
        </figure>
    </div>
</section>
