<h2 class="title mb-3">Mis Deberes</h2>
<article>
    <h3 class="subtitle">A informar</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>
                Mis antecedentes de salud, entorno familiar y hábitat u otra
                situación asociada a mi situación étnica.
            </p>
        </li>
        <li>
            <p>
                Si acepto o rechazo el tratamiento y/o procedimiento de salud
                ordenado por el profesional.
            </p>
        </li>
        <li>
            <p>
                Sobre situaciones irregulares que evidencie en la unidad de
                servicios de salud.
            </p>
        </li>
    </ul>
</article>
<article>
    <h3 class="subtitle">A cumplir</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>
                Puntualmente con las citas asignadas por la unidad de servicios
                de salud y presentarme en adecuadas condiciones de aseo.
            </p>
        </li>
        <li>
            <p>
                Con el tratamiento y recomendaciones ordenadas por el equipo de
                salud.
            </p>
        </li>
        <li>
            <p>
                Con el pago oportuno de los servicios y derivados de mi
                condición de aseguramiento.
            </p>
        </li>
        <li>
            <p>
                Con el cuidado de los recursos físicos y materiales de la unidad
                de servicios de salud.
            </p>
        </li>
    </ul>
</article>
<article>
    <h3 class="subtitle">A respetar</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>
                Los principios, valores y objetivos que promulga la unidad de
                servicios de salud.
            </p>
        </li>
        <li>
            <p>
                Al personal de salud y a la comunidad usuaria de los servicios.
            </p>
        </li>
        <li>
            <p>
                Las condiciones de raza, género y culto de las colaboraciones de
                la unidad de servicios de salud, usuarios, sus familias y la
                comunidad.
            </p>
        </li>
    </ul>
</article>
