<h2 class="title mb-3">Mis Derechos</h2>
<article>
    <h3 class="subtitle">A Conocer</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>
                De forma clara mi condición de salud y el tratamiento que
                recibiré.
            </p>
        </li>
        <li>
            <p>
                El portafolio de servicios y los costos derivados de la atención
                que obtendré.
            </p>
        </li>
        <li>
            <p>
                Los escenarios de participación social y cómo acceder a los
                mecanismos de escucha.
            </p>
        </li>
    </ul>
</article>
<article>
    <h3 class="subtitle">A Elegir</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>
                La unidad de servicios de salud y los profesionales de salud que
                me atenderán.
            </p>
        </li>
        <li>
            <p>
                Si deseo o no, recibir el tratamiento y/o procedimiento ordenado
                por el profesional de salud.
            </p>
        </li>
        <li>
            <p>Si acepto o no, la donación de órganos y/o sangre.</p>
        </li>
        <li>
            <p>Morir con dignidad.</p>
        </li>
        <li>
            <p>Si acepta o rechaza participar en programas de investigación.</p>
        </li>
    </ul>
</article>
<article>
    <h3 class="subtitle">A Recibir</h3>
    <ul class="list-disc ml-10">
        <li>
            <p>Información, capacitación y educación en temas de salud.</p>
        </li>
        <li>
            <p>
                Una atención segura, integral, oportuna y eficiente de acuerdo a
                mi condición de salud, género y edad.
            </p>
        </li>
        <li>
            <p>
                Un trato digno; respetando mi religión, costumbres y creencias.
            </p>
        </li>
        <li>
            <p>
                Manejo confidencial de mi condición de salud y de lo consignado
                en mi Historia Clínica.
            </p>
        </li>
        <li>
            <p>
                Apoyo espiritual y/o emocional, cuando sienta que lo requiero.
            </p>
        </li>
        <li>
            <p>Consulta de segunda opinión en casos especiales.</p>
        </li>
        <li>
            <p>Atención en salud que respete mi privacidad.</p>
        </li>
    </ul>
</article>
