<section class="wrapper py-20 flex">
    <div class="w-1/5">
        <ul class="flex flex-col gap-y-4 font-light">
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="/quienes-somos">Misión y Visión</a>
            </li>
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="/quienes-somos/politicas-calidad"
                    >Políticas de Calidad</a
                >
            </li>
            <li class="flex items-center gap-y-4">
                <img
                    src="/svg/arrow-right.svg"
                    alt="Arrow icon"
                    loading="lazy"
                    class="w-5 h-5"
                />
                <a href="/quienes-somos/valores-corporativos"
                    >Valores Corporativos</a
                >
            </li>
        </ul>
    </div>
    <slot />
</section>
