<section class="bg-[#03588C] text-white hidden sm:block">
    <div
        class="wrapper flex justify-between items-center text-xs md:text-xs lg:text-sm font-light py-3"
    >
        <div class="flex items-center gap-x-2">
            <img
                src="/svg/pin.svg"
                alt="mail icon"
                loading="lazy"
                class="w-5 h-5"
            />
            <span>
                Edificio Continental Medical Center - Carrera 49C # 80 - 125,
                Consultorio 506. Barranquilla, Colombia
            </span>
        </div>
        <div class="flex items-center gap-x-2">
            <img
                src="/svg/phone.svg"
                alt="mail icon"
                loading="lazy"
                class="w-5 h-5"
            />
            <span>(605) 3912675 - (315) 261-8695</span>
        </div>
        <div class="flex items-center gap-x-2">
            <img
                src="/svg/mail.svg"
                alt="mail icon"
                loading="lazy"
                class="w-5 h-5"
            />
            <span> info@unesi.com.co</span>
        </div>
    </div>
</section>
