<nav
    class="py-8 bg-white shadow-lg shadow-slate-200/40 hidden sm:block"
    role="navigation"
    aria-label="main navigation"
>
    <div class="wrapper flex justify-between">
        <div>
            <a href="/">
                <img src="/photos/logos/unesilogo.png" class="h-11" />
            </a>

            <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div
            class="flex items-center gap-x-8 text-slate-600 font-light hover:[&>a]:text-[#03588C]"
        >
            <a href="/"> Inicio</a>
            <a href="/quienes-somos"> Quiénes Somos</a>
            <a href="/doctor"> Doctor</a>
            <a href="/contactanos"> Contactanos</a>
            <div class="cursor-pointer">
                <a
                    class="px-12 py-4 bg-[#03588C] text-white rounded-lg shadow-lg shadow-blue-500/20"
                >
                    Agendar Cita
                </a>
            </div>
        </div>
    </div>
</nav>
